.card{
    height: 725px;
    width: 700px;
    background-color: rgb(192, 241, 224);
    margin-left: 450px;
    border: 2px dotted black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.header img{
    border-radius: 100%;
    width: 7vw;
    border: 2px solid black;
    margin-right: 10px;
}

.header2{
    border: 1px solid black;
    text-align: center;
    width: 90%;
    margin-left: 30px;
}

.form{
    font-size: 1.5vw;
    padding:2px 190px;
    text-wrap: nowrap;
}

.form2{
    font-size: 1.5vw;
    padding: 10px 200px;
}

.form2 p{
    font-size: 1.3vw;
    text-wrap: nowrap;
}

.button1{
    text-align: center;

}
.button1 button{
    padding: 10px 10px;
    font-size: 1vw;
    font-weight: 700;
}

